<h4>Editing <%= current_user.username %>'s <%= @project.title %></h4>
<form action="/projects/<%= @project.id %>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Title:
  <input type='text' name='title' value="<%= @project.title %>" if="title">
  <br>
  <p>Description:
  <input type='text' name='description' value="<%= @project.description %>" if="description">
  <br>
  <p>Platform:
  <input type='text' name='platform' value="<%= @project.platform %>" if="platform">
  <br>
  <p>Programming Language:
  <input type='text' name='programminglanguage' value="<%= @project.programming_language %>" if="programminglanguage">
  <br>
  <p>Start Date:
  <input type='text' name='startdate' value="<%= @project.start_date %>" if="startdate">
  <br>
  <p>End Date:
  <input type='text' name='enddate' value="<%= @project.end_date %>" if="enddate">
  <br>
  <input type="submit" value="submit">

  </form>

